{% extends 'main/base.html' %}

{% block title %}{{app.name}}-Appstore{% endblock %}

{% block content %}
    <p><a href="{% url 'index' %}"><-ко всем приложениям</a></p>
    <h2>{{app.name}}</h2>

   <p>Категория:
        {% if app.category %}
            <a href="{% url 'category' app.category.id %}">{{ app.category }}</a>
        {% else %}
            без категории
        {% endif %}
    </p>

    <p>{{app.description|default:"описание пока не добавлено"}}</p>

    <p>Примерно по такой цене:</p>
    {% for app in similar %}
        <a href="{% url 'app_detail' app.id %}">{{ app.name }}</a>
        <br>
    {% endfor %}

    <p>Добавлено: {{app.created_at|date:"d.m.Y H:i"}}</p>

{% endblock %}



