{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/style.css' %}"   >
  <title>{% block title %}AppStore{% endblock %}</title>
</head>
<body>
    <h1>AppStore</h1>
    <nav>
      <a href="{%url 'main:index' %}"
        {% if request.path == ''%}
        style="font-weight: bold" {% endif %}>Главная</a>

        <a href="{%url 'main:about' %}"
        {% if request.path == '/about/'%}
        style="font-weight: bold" {% endif %}>О магазинах</a>

      <a href="{%url 'main:free' %}"
        {% if request.path == '/free/'%}
        style="font-weight: bold" {% endif %}>Бесплатные</a>

        <a href="{%url 'main:new' %}"
        {% if request.path == '/new/'%}
        style="font-weight: bold" {% endif %}>Новинки</a>

        <a href="{%url 'main:top' %}"
        {% if request.path == '/top/'%}
        style="font-weight: bold" {% endif %}>Топ по цене</a>

        <a href="{%url 'main:nocategory' %}"
        {% if request.path == '/nocategory/'%}
        style="font-weight: bold" {% endif %}>Без категории</a>

        <a href="{%url 'main:cheap' %}"
        {% if request.path == '/cheap/'%}
        style="font-weight: bold" {% endif %}>Дешево</a>
<a href="{% url 'main:free_apps' %}"{% if request.path == '/free_apps/' %} class="active"{% endif %}>Бесплатные</a><a href="{% url 'main:paid_apps' %}"{% if request.path == '/paid_apps/' %} class="active"{% endif %}>Платные</a>

    </nav>

   <p class="categories-nav">
        Категории:
        {% for category in categories %}
            <a href="{% url 'main:category' category.id %}"
               {% if request.resolver_match.url_name == 'category' and request.resolver_match.kwargs.category_id == category.id %}class="active"{% endif %}>
                {{ category.name }}
            </a>
            ({{ category.apps_count }}){% if not forloop.last %} · {% endif %}
        {% empty %}
            пока нет
        {% endfor %}
    </p>

   <form method="GET" action="{% url 'main:index' %}">
    <input type="text" name="q" placeholder="Поиск приложений..." value="{{ q }}">

    <button type="submit">Найти</button>
</form>
    {% block content %}{% endblock %}

     <footer>Всего на сайте категорий {{categories_total}} и {{apps_total}} приложений</footer>

</body>
</html>