{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/style.css' %}"   >

</head>
<body>
    <h1>AppStore</h1>

   <p class="categories-nav">
        Категории:
        {% for category in categories %}
            <a href="{% url 'main:category' category.id %}"
               {% if request.resolver_match.url_name == 'category' and request.resolver_match.kwargs.category_id == category.id %}class="active"{% endif %}>
                {{ category.name }}
            </a>
            ({{ category.apps_count }}){% if not forloop.last %} · {% endif %}
        {% empty %}
            пока нет
        {% endfor %}
    </p>



 {% block content %}{% endblock %}



</body>
</html>