{% extends 'main/base.html' %}

{% block title %}Главная - AppStore{% endblock %}

{% block content %}

       <p>Категория:
        {% for category in categories %}
            <a href="{% url 'category' category.id %}">{{ category.name }}</a>
           ({{category.app_set.count}}){% if not forloop.last %} . {%endif%}
        {% endfor %}
       </p>


    {%if featured %}
        <p>Приложение дня <strong><a href="{% url 'app_detail' featured.id %}">{{featured.name}}</a></strong></p>
    {% endif %}
<h2>Приложения в магазине</h2>

    <ul>
        {% for app in apps %}
        <li><strong><a href="{% url 'app_detail' app.id %}">{{app.name}}</a></strong> - {{ app.category }}

            {{ app.description|truncatechars:60 }}

            {% if app.price == 0 %}
                Бесплатно
            {% else %}
                {{ app.price }} $
            {% endif %}
        </li>
        {% empty %}
        <li>Приложений пока нет</li>
        {% endfor %}
    </ul>



    <p>Всего приложений: {{ apps|length }}</p>
{% endblock %}