{% extends 'main/base.html' %}

{% block title %}Главная - AppStore{% endblock %}

{% block content %}





<h2>Приложения в магазине</h2>

<p>
    <a href="?sort=new{% if q %}&q={{q}}{%endif%}">новые</a>
    <a href="?sort=name{% if q %}&q={{q}}{%endif%}">по названию</a>
    <a href="?sort=price{% if q %}&q={{q}}{%endif%}">сначала дешевые</a>
    <a href="?sort=expensive{% if q %}&q={{q}}{%endif%}">сначала дорогие</a>
</p>



    <ul>

{% for app in page_obj %}
        <li>
            {% if app.icon %}
                <img src="{{ app.icon.url }}" alt="{{ app.name }}" class="app-icon">
            {% endif %}
            <strong><a href="{% url 'main:app_detail' app.id %}">{{ app.name }}</a></strong> - {{ app.category }}<br>
            {{ app.description|truncatechars:60 }}

            {% if app.price == 0 %}
                Бесплатно
            {% else %}
                {{ app.price }} $
            {% endif %}
        </li>
        {% empty %}
        <li>Приложений пока нет</li>
        {% endfor %}
    </ul>

<p>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&sort={{ sort }}&q={{ q }}">← назад</a>
    {% endif %}

    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&sort={{ sort }}&q={{ q }}">вперёд →</a>
    {% endif %}
</p>

<p>Всего приложений на странице: {{ page_obj.length }}</p>


{% endblock %}