{% extends 'main/base.html' %}

{% block title %}Мои приложения - AppStore{% endblock %}

{% block content %}
    <h2>Мои приложения</h2>
    <p>Карточки, которые опубликовали вы, {{ user.username }}.</p>

    <ul>
        {% for app in apps %}
            <li>
                <a href="{% url 'main:app_detail' app.id %}">{{ app.name }}</a>
                —
                {% if app.price == 0 %}Бесплатно{% else %}{{ app.price }} ${% endif %}
                --
                <a href="{%url 'main:edit_app' app.id%}">Редактировать</a>
            </li>
        {% empty %}
            <li>Вы ещё не публиковали приложения. <a href="{% url 'main:add_app' %}">Добавить первое</a>.</li>
        {% endfor %}
    </ul>
{% endblock %}