{% extends 'main/base.html' %}

{% block title %}Новинки - AppStore{% endblock %}

{% block content %}

<h2>Новинки</h2>

    <ul>
        {% for app in apps %}
        <li>><a href="{% url 'main:app_detail' app.id %}">{{app.name}}</a> -
            добавлено: {{ app.created_at|date:"d.m.Y"}}
            {% if app.price == 0 %}
                Бесплатно
            {% else %}
                {{ app.price }} $
            {% endif %}
        </li>
        {% empty %}
        <li>Приложений пока нет</li>
        {% endfor %}
    </ul>

    <p>Всего приложений: {{ apps|length }}</p>
{% endblock %}