{% extends 'main/base.html' %}

{% block title %}Новый пароль  - AppStore{% endblock %}

{% block content %}
    <h2>Новый пароль</h2>

    {%if validlink%}
        <p>Задайте новый пароль. Старый работать не будет!</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить пароль</button>
    </form>

{%else%}
  <p>Ссылка либо неправильная, либо уже использована. Ссылка недействительна</p>
  <p><a href="{%url 'main:password_reset' %}">Запросить письмо еще раз</a></p>

{%endif%}
{% endblock %}
